@import 'variables';
@import 'bourbon';

.btn{
  font-family:$base; 
  display:inline-block;
  width:auto;
  padding:8px 30px;
  border-radius:2px;
  background-color:$btn-base-color;
  color:$btn-text;
  text-transform: uppercase;
  letter-spacing:1px;
  font-weight:300;
  border:0;
  cursor:pointer;
  @include transition( background-color, 0.4s );

  &:hover{
    background-color:$btn-hover;
  }
}