@import 'variables';
@import 'bourbon';


nav{
  display: block;
  width:100%;

  & ul{
    display: inherit;
    width:inherit;
    margin:0;
    padding:0;
  }

  & li{
    display: inline-block;
    width:auto;
    text-align: left;
    padding:0;
  }

  & a{
    display: block;
    cursor:pointer;
  }

  .main-navigation & {
    text-align:right;

    & li {

      &:first-child {
      }
    }

    & a {
      padding: 6px 12px;
    }
  }

  .subUtilityBar &{

      & ul{
        display: block;
        margin:0;
        padding:0;
        text-align:right;
      }

      & a{

        display: block;
        padding:0 5px;
        font-size:18px;

        &:hover{
          color:$paleRed;
        }
      }
  }

  .leftColumn &{

    & ul{
      padding:0;
      margin:0;
    }

    & li{
      display: block;
    }
    
    & a{
      color:#aaa;
      padding:10px 20px;
      font-size:18px;
      text-align:right;
      border-bottom:1px solid darken($darkgray, 5%);

      &:hover{
        color:#fff;
        background-color:$black;
      }
    }
  }
}