@import 'variables';
@import 'bourbon';

html { font-size: 62.5%; }

body{
  font-size:14px;
  text-transform: uppercase;
  line-height:32px;
  letter-spacing:1px;
  font-weight:600;
  box-sizing:border-box;
  font-family: $base;
  font-weight:400
}

.acc{
  display: none;
}

.wrap,
.wrapper,
.container{
  display: block;
  width:100%;
  clear:both;
}

.wrap{

}

.wrapper{
  position: relative;
}

.table{
  display:table;
  table-layout:fixed;
  width:100%;
}

.container{
  margin: 0 auto;
  min-height:50px;

  &.table{
    margin: 0 auto;
  }
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
  width:100%;
}

main{

}

img{
  display: block;
  width:100%;
  height:auto;
}
