@import 'variables';
@import 'bourbon';

html { font-size: 62.5%; }

body{
  font-size:14px;
  text-transform: uppercase;
  line-height:32px;
  letter-spacing:1px;
  font-weight:600;
}

.acc{
  display: none;
}

.wrap,
.wrapper,
.container{
  display: block;
  width:100%;
  clear:both;
}

.wrap{

}

.wrapper{
  position: relative;
  border:1px solid red;
}

.table{
  display:table;
  table-layout:fixed;
}

.container{
  max-width:1180px;
  margin: 0 auto;
  min-height:50px;
  border:1px solid blue;

  &.table{
    margin: 0 auto;
  }

  @media $below-1180 {
    max-width:1024px;
  }
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
  width:auto;
}

