@import 'variables';
@import 'bourbon';

body{
  border-top:1px solid #ddd;
  position:relative;
}

.wrapper{

}

.container{
  max-width:1200px;
  margin: 0 auto;
}

.table{

}

header{

  &.wrapper{
    padding:0;
    border-bottom:1px solid #ddd;
  }
}

footer{
  min-height:300px;

  &.wrapper{
    padding:15px 0;
    @include background-image( linear-gradient( #eee, #fff ) );
    border:0;
    border-top:1px solid #ddd;
  }
}

main{
  padding:60px 0;
  min-height:500px;
}

.header-logo{
  padding:30px;
}





@import 'navigation';

@import 'typography';

@import 'buttons';

@import 'components/loader';

@import 'components/popup';

@import 'components/hero';

@import 'utilities';