@import 'variables';

.wrapper{

  header&,
  footer&{
    padding:5px 0;
  }

  header&{
    border-bottom:1px solid #ddd;
  }

  footer&{
    border-top:1px solid #ddd;
  }

  main&{
    padding:30px 0;
  }
}

.container{

}

.table{

}

@import 'utilities';