@import 'variables';

.wrapper{

}

.container{

}

.table{

}

header{

  &.wrapper{
    border-bottom:1px solid #ddd;
    padding:10px 0;
  }
}

footer{

  &.wrapper{
    border-top:1px solid #ddd;
    padding:10px 0;
  }
}

main{

  &.wrapper{
    padding:30px 0;
  }
}

@import 'utilities';