@import 'variables';
@import 'bourbon';

table{
    display: table;
    width:100%;
    padding:0;
    border-collapse:collapse
}

tbody{

}

tfoot{

}

tr{
    border-top:1px solid #ddd;

    .panel &{
        border-top:1px solid $sand;
    }

    &:first-child{
        border:0;
    }
}

td,
th{
    padding:5px 10px;
    text-align:left;
}

th{


    tr &{
        font-size:14px;
        line-height:17px;
        text-transform:capitalize;
        font-weight:300;
        text-align:right;
        background-color:#eee;
        width:33%;
        border-right:1px solid #ddd;
    }

    .panel tr &{
        border-right:1px solid $sand;
    }
}

td{

}