@import 'variables';
@import 'bourbon';

li,
a,
a:visited
p{
  color:inherit;
  line-height:inherit;
  font-weight:inherit;
  font-family:inherit;
}

p{
  margin:0;
  padding:8px 0;

  &:after{
    @include clearfix;
  }
}

a,
a:visited{
  @include transition( background-color .5s );
}

h1,h2,h3,h4,h5,h6{
  font-family: $heading;
  margin:0;
}