@import 'variables';

.acc{
  display: none !important;
}

.rtl{
  direction: rtl;
  text-align: left;
}

.ltr{
  direction: ltr;
  text-align: left;
}

.full,
.vfb-item{
  width:100%;
}

.half{
  width:48.5%;
}

.third{
  width:32%;
}

.two-third{
  width:65%;
}

.fourth{
  width:24%;
}

.fifth{
  width:20%;
}

.three-fourth{
  width:74%;
}

.fourFifths{
  width:80%;
}

.right,
.vfb-right-half{
  float:right;
}

.table-cell{

  .half{
    width:50%;
  }

  .third{
    width:33.333%;
  }

  .two-third{
    width:66.6667%;
  }

  .fourth{
    width:25%;
  }

  .fifth{
    width:20%;
  }

  .three-fourth{
    width:75%;
  }

  .fourFifths{
    width:80%;
  }
}

.full-height{
  height:100vh;
}

.alignRight{
  text-align: right;
}

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align:center;
}


