
/* COLORS */

/* Chrome, Safari, Opera */

$above-1280: "only screen and (min-width:1280px)";

$below-2000: "only screen and (max-width:2000px)";
$below-1600: "only screen and (max-width:1600px)";
$below-1400: "only screen and (max-width:1400px)";
$below-1280: "only screen and (max-width:1280px)";
$below-1180: "only screen and (max-width:1180px)";
$below-1024: "only screen and (max-width:1024px)";
$below-980: "only screen and (max-width:980px)";
$below-900: "only screen and (max-width:900px)";
$below-800: "only screen and (max-width:800px)";
$below-768: "only screen and (max-width:768px)";
$below-600: "only screen and (max-width:600px)";
$below-480: "only screen and (max-width:480px)";
$below-340: "only screen and (max-width:340px)";

$retina: "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)";