[data-overlay]{
  text-align: center;
  position:absolute;
  top:0;
  left:0;
  font-size:40px;
  color:#666;
  width:0;
  height:0;
  overflow:hidden;
  opacity:0;
  @include transition( opacity .5s );

  &.active{
    width:100%;
    height:100vh;
    display: table;
    opacity:0;
    background-color:rgba(255,255,255,0.7);

  }

  &.visible{
    opacity:1;
    @include transition( opacity .5s );
  }

  div{
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
  }
}
